@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@400;800&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* ==================================== */
/* Custom properties and general styles */
/* ==================================== */

:root {
  --ff-main: 'Commissioner', sans-serif;

  --fw-regular: 400;
  --fw-extra-bold: 800;

  --fs-07: 0.438rem;
  --fs-08: 0.5em;
  --fs-09: 0.563em;
  --fs-10: 0.625rem;
  --fs-12: 0.75rem;
  --fs-13: 0.813rem;
  --fs-14: 0.875rem;
  --fs-15: 0.938rem;
  --fs-16: 1rem;
  --fs-18: 1.125rem;
  --fs-20: 1.25rem;
  --fs-22: 1.375rem;
  --fs-24: 1.5rem;
  --fs-26: 1.625rem;
  --fs-28: 1.75rem;
  --fs-30: 1.875em;
  --fs-32: 2rem;
  --fs-36: 2.25rem;
  --fs-40: 2.5rem;
  --fs-48: 3rem;
  --fs-56: 3.5rem;
  --fs-60: 3.75rem;
  --fs-64: 4rem;
  --fs-72: 4.5rem;
  --fs-80: 5rem;

  --clr-red: hsla(0, 93%, 64%, 1);
  --clr-red-difused: hsla(0, 100%, 79%, 1);

  --clr-white: hsl(0, 0%, 100%);
  --clr-black: hsla(240, 14%, 11%, 1);

  --clr-text-black: hsla(0, 0%, 0%, 1);
}

body {
  background-color: var(--clr-white);
  color: var(--clr-text-black);
  font-family: var(--ff-main);
  font-size: var(--fs-16);
  font-weight: var(--fw-regular);
  line-height: 1.666;
  text-align: left;
}

img {
  display: block;
  max-width: 100%;
}

ul {
  list-style: none;
}

/* ================== */
/* Typography */
/* ================== */

.title {
  font-size: var(--fs-40);
  line-height: 1;
  font-weight: var(--fw-extra-bold);
}

.title--md {
  font-size: var(--fs-32);
  line-height: 1.25;
}

.title--sm {
  font-size: var(--fs-15);
}

.text {
  font-size: var(--fs-15);
}

/* ================== */
/* Links */
/* ================== */

/* ================== */
/* Buttons & inputs */
/* ================== */

.btn {
  color: var(--clr-white);
  font-size: var(--fs-18);
  text-decoration: none;
  font-family: inherit;
  font-weight: var(--fw-extra-bold);
  background: var(--clr-red);
  padding: 1.25em 2.25em;
  display: inline-block;
  cursor: pointer;
}

.btn:hover,
.btn:focus {
  background: var(--clr-red-difused);
}

.btn--alt {
  background: transparent;
  color: var(--clr-red);
  font-size: var(--fs-15);
  padding: 0 0 0.5em 0;
  border-bottom: 2px solid var(--clr-red);
}

.btn--alt:hover,
.btn--alt:focus {
  color: var(--clr-red-difused);
  border-bottom: 2px solid var(--clr-red-difused);
  background: transparent;
}

.btn--slider {
  background: transparent;
  border: none;
  padding: 0;
}

.btn--slider:hover,
.btn--slider:focus {
  background: transparent;
}
.btn--slider:hover svg g,
.btn--slider:focus svg g {
  stroke: var(--clr-red-difused);
}

/* ================== */
/* Utility styles */
/* ================== */

.wrapper {
  overflow: hidden;
}

.container {
  padding: 0 1.5em;
}

.buttons-area {
  padding-top: 0.25em;
}

/* ================== */
/* SECTIONS */
/* ================== */

/* HEADER */
.header__row {
  display: flex;
  place-content: center space-between;

  margin-top: 2.5em;
}

.open-nav-btn {
  border: none;
  background: transparent;
}

/* Nav */
.nav {
  display: none;
}

/* MAIN */
.main {
  margin-top: 2.5em;
}

/* Hero */
.hero {
  display: flex;
  flex-direction: column;
  place-content: center;
  gap: 3.5em;
}

.hero__image-area {
  order: -1;
}

.hero__copy-area .text {
  margin-top: 1em;
}

.hero__copy-area .btn {
  margin-top: 2.215em;
}

/* Middle First */
.middle-first {
  margin-top: 6em;
}

.mf__grid {
  display: grid;
  grid-template-columns: 1fr;
}

.mf__copy-area {
  background: var(--clr-black);
  padding: 4.5em 1.5em;
}

.mf__copy-area .copy-text {
  color: var(--clr-white);
}

.accent-color {
  color: var(--clr-red);
}

.mf__copy-area .text {
  margin-top: 1.6em;
}

.mf__copy-area .btn--alt {
  margin-top: 2.66em;
}

.list-area {
  background: var(--clr-red);
  color: var(--clr-white);
  padding: 6em 1.5em;
}

.principles-list {
  margin-top: 5.8125em;
  margin-left: 1em;
}

.principle {
  margin-top: 5.25em;
  position: relative;
}

.principle__number {
  position: absolute;
  top: -42%;
  left: -6%;
  font-size: var(--fs-80);
  font-weight: var(--fw-extra-bold);
  opacity: 0.25;
  line-height: 1;
}

.principle .text {
  margin-top: 1.2em;
}

/* Middle Second */
.ms__grid {
  display: grid;
  grid-template-columns: 1fr;

  color: var(--clr-white);
}

.slider-area-a {
  background: var(--clr-black);

  padding: 4em 1.5em;
}

.slider-buttons {
  margin-top: 1.5em;
}

.slider-area-b {
  order: -1;
}

.slide-container {
  position: relative;
}

.slide {
  display: none;
}

.slide.visible {
  display: block;
}

.slide__copy {
  position: absolute;
  bottom: 2.25em;
  right: 2em;

  text-align: right;
}
