@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@400;800&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* ==================================== */
/* Custom properties and general styles */
/* ==================================== */

:root {
  --ff-main: 'Commissioner', sans-serif;

  --fw-regular: 400;
  --fw-extra-bold: 800;

  --fs-07: 0.438rem;
  --fs-08: 0.5em;
  --fs-09: 0.563em;
  --fs-10: 0.625rem;
  --fs-12: 0.75rem;
  --fs-13: 0.813rem;
  --fs-14: 0.875rem;
  --fs-15: 0.938rem;
  --fs-16: 1rem;
  --fs-18: 1.125rem;
  --fs-20: 1.25rem;
  --fs-22: 1.375rem;
  --fs-24: 1.5rem;
  --fs-26: 1.625rem;
  --fs-28: 1.75rem;
  --fs-30: 1.875em;
  --fs-32: 2rem;
  --fs-36: 2.25rem;
  --fs-40: 2.5rem;
  --fs-48: 3rem;
  --fs-56: 3.5rem;
  --fs-60: 3.75rem;
  --fs-64: 4rem;
  --fs-72: 4.5rem;
  --fs-80: 5rem;

  --clr-red: hsla(0, 93%, 64%, 1);
  --clr-red-difused: hsla(0, 100%, 79%, 1);

  --clr-white: hsl(0, 0%, 100%);
  --clr-black: hsla(240, 14%, 11%, 1);

  --clr-text-black: hsla(0, 0%, 0%, 1);
}

body {
  background-color: var(--clr-white);
  color: var(--clr-text-black);
  font-family: var(--ff-main);
  font-size: var(--fs-16);
  font-weight: var(--fw-regular);
  line-height: 1.666;
  text-align: left;
}

img {
  display: block;
  max-width: 100%;
}

ul {
  list-style: none;
}

/* ================== */
/* Typography */
/* ================== */

.title {
  font-size: var(--fs-40);
  line-height: 1;
  font-weight: var(--fw-extra-bold);
}

.title--md {
  font-size: var(--fs-32);
  line-height: 1.25;
}

.title--sm {
  font-size: var(--fs-15);
}

.text {
  font-size: var(--fs-15);
}

/* ================== */
/* Links */
/* ================== */

/* ================== */
/* Buttons & inputs */
/* ================== */

.btn {
  color: var(--clr-white);
  font-size: var(--fs-18);
  text-decoration: none;
  font-family: inherit;
  font-weight: var(--fw-extra-bold);
  background: var(--clr-red);
  padding: 1.25em 2.25em;
  display: inline-block;
  cursor: pointer;
}

.btn:hover,
.btn:focus {
  background: var(--clr-red-difused);
}

.btn--alt {
  background: transparent;
  color: var(--clr-red);
  font-size: var(--fs-15);
  padding: 0 0 0.5em 0;
  border-bottom: 2px solid var(--clr-red);
}

.btn--alt:hover,
.btn--alt:focus {
  color: var(--clr-red-difused);
  border-bottom: 2px solid var(--clr-red-difused);
  background: transparent;
}

.btn--slider {
  background: transparent;
  border: none;
  padding: 0;
}

.btn--slider:hover,
.btn--slider:focus {
  background: transparent;
}
.btn--slider:hover svg g,
.btn--slider:focus svg g {
  stroke: var(--clr-red-difused);
}

/* ================== */
/* Utility styles */
/* ================== */

.wrapper {
  overflow: hidden;
}

.container {
  padding: 0 1.5em;
}

.buttons-area {
  padding-top: 0.25em;
}

.tablet-img {
  display: none;
}
.desktop-img {
  display: none;
}

/* ================== */
/* SECTIONS */
/* ================== */

/* HEADER */
.header__row {
  display: flex;
  place-content: center space-between;

  margin-top: 2.5em;
}

.open-nav-btn {
  border: none;
  background: transparent;
}

/* Nav */
.nav {
  display: none;
}

/* MAIN */
.main {
  margin-top: 2.5em;
}

/* Hero */
.hero {
  display: flex;
  flex-direction: column;
  place-content: center;
  gap: 3.5em;
}

.hero__image-area {
  order: -1;
}

.hero__image-area img {
  width: 100%;
  height: auto;
}

.hero__copy-area .text {
  margin-top: 1em;
}

.hero__copy-area .btn {
  margin-top: 2.215em;
}

/* Middle First */
.middle-first {
  margin-top: 6em;
}

.mf__grid {
  display: grid;
  grid-template-columns: 1fr;
}

.mf__picture-area {
  position: relative;
}

.mf__picture-area img {
  width: 100%;
  height: auto;
}

.svg-wave {
  position: absolute;
  bottom: -1em;
  left: 1.5em;
}

.svg-wave img {
  width: 63px;
}

.mf__copy-area {
  background: var(--clr-black);
  padding: 4.5em 1.5em;
}

.mf__copy-area .copy-text {
  color: var(--clr-white);
}

.accent-color {
  color: var(--clr-red);
}

.mf__copy-area .text {
  margin-top: 1.6em;
}

.mf__copy-area .btn--alt {
  margin-top: 2.66em;
}

.list-area {
  background: var(--clr-red);
  color: var(--clr-white);
  padding: 6em 1.5em;
}

.principles-list {
  margin-top: 5.8125em;
  margin-left: 1em;
}

.principle {
  margin-top: 5.25em;
  position: relative;
}

.principle__number {
  position: absolute;
  top: -42%;
  left: -6%;
  font-size: var(--fs-80);
  font-weight: var(--fw-extra-bold);
  opacity: 0.25;
  line-height: 1;
}

.principle .text {
  margin-top: 1.2em;
}

/* Middle Second */
.ms__grid {
  display: grid;
  grid-template-columns: 1fr;

  color: var(--clr-white);
}

.slider-area-a {
  background: var(--clr-black);

  padding: 4em 1.5em;
}

.slider-buttons {
  margin-top: 1.5em;
}

.slider-area-b {
  order: -1;
}

.slide-container {
  position: relative;
}

.slide {
  display: none;
}

.slide-img {
  width: 100%;
  height: auto;
}

.slide.visible {
  display: block;
}

.slide__copy {
  position: absolute;
  bottom: 2.25em;
  right: 2em;

  text-align: right;
}

/* FOOTER */
.footer {
  padding: 6.25em 1.5em;
}

.footer-content .btn {
  margin-top: 3em;
}

/* ================== */
/* MEDIA QUERIES */
/* ================== */

@media (min-width: 428px) {
  /* Limiting the width of the text lines for better readability */
  .hero__copy-area .copy-text,
  .mf__copy-area .text,
  .principle,
  .title--md {
    max-width: 381px;
  }
}

@media (min-width: 600px) {
  /* Adding some extra padding on the sides */
  .header__row,
  .hero__copy-area {
    padding: 0 2.4375em;
  }

  .mf__copy-area {
    padding: 4.5em 2.4375em;
  }

  .list-area {
    padding: 6em 2.4375em;
  }

  .slide__copy {
    right: 2.4375em;
  }

  .slider-area-a {
    padding: 4em 2.4375em;
  }

  .footer {
    padding: 6.25em 2.4375em;
  }
}

/* TABLET */
@media (min-width: 768px) {
  /* Typography */
  .title {
    font-size: var(--fs-56);
  }

  .title--md {
    font-size: var(--fs-32);
  }

  .title--sm {
    font-size: var(--fs-15);
  }

  /* Utility classes */
  .mobile-img {
    display: none;
  }

  .tablet-img {
    display: block;
  }

  /* SECTIONS */

  .main {
    margin-top: 0;
  }

  /* Hero */
  .hero {
    flex-direction: row;
    justify-content: flex-start;

    padding: 4.8125em 0 9.375em 2.4375em;
    gap: 0;

    background: url('./assets/tablet/image-hero.jpg') no-repeat;
    background-position: top right;
  }

  .hero__copy-area {
    padding: 0;
  }

  .hero__copy-area .copy-text {
    max-width: 400px;
  }

  .hero__copy-area .text {
    margin-top: 1.75em;
  }

  .hero__copy-area .btn {
    margin-top: 1.75em;
  }

  .hero__image-area {
    display: none;
  }

  /* Middle first */
  .middle-first {
    margin-top: 0;
  }

  .mf__grid {
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
  }

  .mf__picture-area {
    grid-column: 1 / 6;
    grid-row: 1 / 6;
  }

  .svg-wave {
    bottom: unset;
    left: unset;
    top: 145px;
    right: -32px;
  }

  .mf__copy-area {
    grid-column: 6/ -1;
    grid-row: 1 / 5;

    padding: 7.5em 2.5em 7.5em 4.3125em;
  }

  .list-area {
    grid-column: 1/ -1;
    grid-row: 5/ -1;

    background: var(--clr-white);

    padding: 0;

    display: grid;
    grid-template-columns: repeat(30, 1fr);
    grid-template-rows: repeat(10, 1fr);
  }

  .list-area .title--md {
    color: var(--clr-text-black);

    grid-column: 1 /14;
    grid-row: 3 / -1;

    padding-left: 39px;
    padding-top: 126px;
    max-width: 400px;
  }

  .principles-list {
    background: var(--clr-red);
    margin: 0;

    grid-column: 14 / -1;
    grid-row: 1 / -1;

    z-index: 10;

    padding: 100px 59px 0;
  }

  /* Middle Second */
  .ms__grid {
    grid-template-columns: repeat(30, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }

  .slider-area-a {
    grid-column: 1 /16;
    grid-row: 1 /4;

    z-index: 1;
  }

  .slider-area-b {
    grid-column: 14 / -1;
    grid-row: 1 / -1;
  }

  /* Footer */
  .footer {
    padding: 4.375em 2.4375em;
  }

  .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .footer-content .btn {
    margin: unset;
    line-height: 1;
  }
}

@media (min-width: 960px) {
  /* Typography */
  .title {
    font-size: var(--fs-80);
  }

  .title--md {
    font-size: var(--fs-56);
  }

  .title--sm {
    font-size: var(--fs-20);
  }

  .text {
    font-size: var(--fs-18);
  }

  /* Utility classes */
  .tablet-img {
    display: none;
  }

  .desktop-img {
    display: block;
  }

  /* SECTIONS */

  /* Hero */
  .hero {
    padding: 6em 4em 8em;

    background: url(./assets/desktop/image-hero.jpg) no-repeat;
    background-size: contain;
    background-position: top right;
  }

  .hero__copy-area .copy-text {
    max-width: 50%;
  }
}
